.Navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #152D35;
    font-family:'Courier New', Courier, monospace;
    border-radius: 10px;
    opacity: 1;
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color:#c9e0cd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .active, .dot:hover {
    background-color: #54775a;
  }