body{
    background-color: #345B63;
}

h1{
  font-size: 50px;
  color: rgb(171, 168, 168);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

h2{
  font-size: 20px;
  color: rgb(171, 168, 168);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

h3{
  font-size: 20px;
  color: rgb(171, 168, 168);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}



